@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

@import 'bootstrap/scss/bootstrap-reboot';
@import 'bootstrap/scss/bootstrap-grid';
@import 'bootstrap/scss/bootstrap-utilities';
@import 'bootstrap/scss/accordion';
@import 'bootstrap/scss/modal';
@import 'bootstrap/scss/forms';
@import 'bootstrap/scss/buttons';
@import 'bootstrap/scss/type';

.text-body-secondary {
  --bs-text-opacity: 1;
  color: #6c757d !important;
}

.is-invalid {
  border-color: #dc3545;
}

.list-group-item {
  padding: 1rem 1rem 0.5rem;
}

.card-body {
  padding: 1rem;
}
